${project.groupId}:${project.artifactId}:${project.version} CHANGELOG
========================================================================

 ${project.basedir}

 #include("../../../CHANGELOG.md")
